/* footer -------------------------- */
footer {
    background-color: rgba(15, 70, 241, 0.65);
    color: $white;
    font-size: 16px;
    line-height: 28px;
    padding: 90px 0;
    text-align: center;
    min-height:10em;
    line-height:10em;
    @include sizing;


    p,strong {
        color:#fff;
    }
}