/* footer -------------------------- */
footer {
    color: $white;
    text-align: center;
    min-height:15em;
    line-height:4rem;
    font-size: 2.4rem;

    background-color: $bgcolor;

    position: relative;
    text-align: center;

    .layer {
        position: absolute;
        display: inline-block;
        left:50%;
        top: 50%;
        width:100%;
        transform: translateY(-50%) translateX(-50%);
    }


    p,strong {
        color:#fff;
    }
}