/* header -------------------------- */

header, .comments, footer {
    h1,h2,h3,h4,p,li {
        text-shadow: 1px 1px #333;
    }
}


header {
    padding: 0;
    font: 24px/36px $fontCaption;
    color: $white;
    position: relative;

    @include sizing;
    .layer {
        height:100%;
        background-color: $bgcolor;
    }


    .padding-104 {
        padding:104px 0px 104px 0;
    }

    .padding-104-50 {
        padding:50px 0px 104px 0;
    }

    #cf_widget_iframe {
        position: absolute;
        right:15%;
        top:15%;
        background-color:rgba(255,255,255,.5);

    }


    p {color:#fff;}

    h1 {
        font-size:3.5rem!important;

        @media (min-width: 0) and (max-width: 800px) {
            font-size:3rem!important;
        }
    }

    div.logo {
        padding-top:15px;
        img {
            width:24rem;
            height:7.7rem;


            @media (min-width: 0) and (max-width: 300px) {
                width:60vmin;
                height:20vmin;
            }

            &:hover {
                cursor:pointer!important;
            }


        }
        hr {
            height:1px;
            border:0;
            background-color: rgba(255,255,255,.5);
            margin:15px 0 0 0;
        }
    }


    a.logo {
        h1 {
            display: inline;
            font-size: 3vmin;

            @media (min-width: 0) and (max-width: 800px) {
                font-size: 2rem;
            }
        }
        img {
            width:5vmin;
            height:5vmin;
            margin-right:5px;

            @media (min-width: 0) and (max-width: 800px) {
                width:3rem;
                height:3rem;
            }
        }

    }




    div.wrap {
        position: relative;
    }

    .autor {
        padding: 12px 0 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        color: $white;
        a {
            color: $white;
            &:hover {
                color: $white;
                @include opacity(0.8);
            }
            &:active {
                color: $white;
                @include opacity(1);
            }
        }
    }
    .buttons-wrapper {
        .button-stripe {
            margin-left: 14px;
        }
    }
}
.header-img {
    float: right;
}
.header-wrapper {
    max-width: 655px
}

div.language-switch {
    float:right;
    margin-top:-3em;

    @media (min-width: 0) and (max-width: 800px) {
        margin-top:1em;
    }

    a {
        display: inline-block;
        width:1.7em;
        height:1.2em;
        border:2px solid #fff;
        opacity:0.65;
        background-position: 50% 0%;
        background-size: cover;
        transition: opacity 1s;
        margin-right:0.6em;


        &.cn {
            background-image: url('/assets/images/china.png');

        }

        &.en {
            background-image: url('/assets/images/english.png');
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
            text-decoration: none!important;
        }

        span {
            opacity: 1;
            color:#fff;
            font-size: .75em;
            position: relative;
            bottom:-2.3em;
            text-decoration: none;
            line-height:0.5em!important;
        }



    }

}

figure.stars {
    margin-top:1em;
    background:url('/assets/images/stars.png') no-repeat 50% 50%;
    width: 23vmin;
    height:5vmin;
    background-size: cover;
    margin:10px auto;
    figcaption {
        display: none;
    }
}

.ticker.main {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom:0;
    left:0; right:0;
}